body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: rgb(6, 14, 40);
}

h1 {
    font-family: 'Garamond', 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}



.sectionProductosClase {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
}


.cardProducto {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 15rem;
    border: solid 1px rgb(6, 14, 40);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 3rem; 
    background-color:rgb(249, 239, 228);
}

.cardCarrito {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border: solid 1px rgb(6, 14, 40);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem; 
    background-color:rgb(249, 239, 228);
}

.fotoProducto {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.boton {
    border-radius: 0.5rem;
    background-color: rgb(174, 135, 92);
    -webkit-text-fill-color: white;
    padding: 1rem;
    border: none;
}

.boton-carrito {
    border-radius: 0.5rem;
    background-color: rgb(219, 189, 157);
    -webkit-text-fill-color: white;
    padding: 1rem;
    border: none;
}

.boton-light {
    border-radius: 0.5rem;
    background-color: rgb(249, 239, 228);
    border-color: rgb(6, 14, 40);
}

.boton-swal {
    border-radius: 0.5rem;
    background-color: rgb(219, 189, 157);
    border-color: rgb(6, 14, 40);
    margin: 1rem;
    -webkit-text-fill-color: rgb(6, 14, 40);
}

.boton-swal-cancel {
    border-radius: 0.5rem;
    background-color: rgb(174, 135, 92);
    border-color: rgb(6, 14, 40);
    margin: 1rem;
    -webkit-text-fill-color: rgb(6, 14, 40);
}

.sectionCarritoClase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.cardTotalItems {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 3rem;
    width: 10rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0.5rem; 
    background-color:rgb(240, 249, 207);
}

.sectionCheckoutClase {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 5rem;
}